<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Мама Знает Алмалык</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <!-- <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  <!-- Swiper CSS -->
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/freeps2/a7rarpress@main/swiper-bundle.min.css"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <!-- adding owl.carousel.css CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css"
    integrity="sha512-UTNP5BXLIptsaj5WdKFrkFov94lDx+eBvbKyoe1YAfjeRPC+gT5kyZ10kOHCfNZqEui1sxmqvodNUx3KbuYI/A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- adding owl.theme.default.css CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css"
    integrity="sha512-OTcub78R3msOCtY3Tc6FzeDJ8N9qvQn1Ph49ou13xgA9VsH9+LRxoFU6EqLhW4+PKRfU+/HReXmSZXHEkpYoOA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <!-- CSS -->
  <!-- <link rel="stylesheet" href="style.css"> -->

  <!-- =======================================================
  * Template Name: Avilon
  * Updated: Jul 27 2023 with Bootstrap v5.3.1
  * Template URL: https://bootstrapmade.com/avilon-bootstrap-landing-page-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  <div id="app">
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center header-transparent">
      <div class="container d-flex justify-content-between align-items-center">

        <div id="logo">
          <h1><a href="index.html">Мама Знает</a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html"><img src="assets/img/logo.png" alt=""></a> -->
        </div>

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto active" href="#hero">Домой</a></li>
            <li><a class="nav-link scrollto" href="#features">Преимущества</a></li>
            <li><a class="nav-link scrollto" href="#team">Каталог</a></li>
            <li><a class="nav-link scrollto" href="#gallery">Отзыв</a></li>
            <li><a class="nav-link scrollto" href="#contact">Контакты</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
      </div>
    </header><!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero">

      <div class="hero-text" data-aos="zoom-out">
        <h2 style="font-weight: bold;">Мама Знает теперь в Алмалыке</h2>
        <p>Первый бренд подгузников, созданный мамами для мам</p>
        <a href="#features" class="btn-get-started scrollto">Начать</a>
      </div>

      <div class="product-screens">

        <div class="product-screen-1" data-aos="fade-up" data-aos-delay="400">
          <img src="assets/img/product-screen-1.png" alt="">
        </div>

        <div class="product-screen-2" data-aos="fade-up" data-aos-delay="200">
          <img src="assets/img/product-screen-2.png" alt="">
        </div>

        <div class="product-screen-3" data-aos="fade-up">
          <img src="assets/img/product-screen-3.png" alt="">
        </div>

      </div>

    </section><!-- End Hero Section -->

    <main id="main">


      <!-- ======= Featuress Section ======= -->
      <section id="features">
        <div class="container" data-aos="fade-up">

          <div class="row">

            <div class="col-lg-8 offset-lg-4">
              <div class="section-header">
                <h3 class="section-title">
                  Преимущества наших подгузников</h3>
                <span class="section-divider"></span>
              </div>
            </div>

            <div class="col-lg-4 col-md-5 features-img">
              <img src="assets/img/product-features.png" alt="" data-aos="fade-right">
            </div>

            <div class="col-lg-8 col-md-7 ">

              <div class="row">

                <div class="col-lg-6 col-md-6 box" data-aos="fade-up">
                  <div class="icon"><i class="bi bi-briefcase"></i></div>
                  <h4 class="title" style="font-weight: bold;"><b>Без Запаха</b></h4>
                  <p class="description" style="font-size: large;">Не имеют неприятного аромата
                    до и после использования</p>
                </div>
                <div class="col-lg-6 col-md-6 box" data-aos="fade-up">
                  <div class="icon"><i class="bi bi-card-checklist"></i></div>
                  <h4 class="title" style="font-weight: bold;"><b>Гипоаллергенные</b></h4>
                  <p class="description" style="font-size: large;">Не вызывают аллергическую реакцию
                    за счёт отсутствия ароматизаторов
                    и вредных химических компонентов.</p>
                </div>
                <div class="col-lg-6 col-md-6 box" data-aos="fade-up" dat-aos-delay="100">
                  <div class="icon"><i class="bi bi-binoculars"></i></div>
                  <h4 class="title" style="font-weight: bold;"><b>Ультратонкие</b></h4>
                  <p class="description" style="font-size: large;">Отлично подходят для активных детей, не препятствуют
                    их
                    передвижению.</p>
                </div>
                <div class="col-lg-6 col-md-6 box" data-aos="fade-up" data-aos-delay="100">
                  <div class="icon"><i class="bi bi-brightness-high"></i></div>
                  <h4 class="title" style="font-weight: bold;"><b>Комфортное ношение</b></h4>
                  <p class="description" style="font-size: large;">За счет мягкого эластичного пояска
                    и легкости ребенок не почувствует,
                    что на нем есть подгузники даже после длительного ношения.</p>
                </div>
                <div class="col-lg-6 col-md-6 box" data-aos="fade-up" data-aos-delay="100">
                  <div class="icon"><i class="bi bi-brightness-high"></i></div>
                  <h4 class="title" style="font-weight: bold;"><b>Индикатор влаги</b></h4>
                  <p class="description" style="font-size: large;">При появлении влаги в подгузниках, желтый индикатор
                    меняет свой цвет
                    по мере заполнения</p>
                </div>
                <div class="col-lg-6 col-md-6 box" data-aos="fade-up" data-aos-delay="100">
                  <div class="icon"><i class="bi bi-brightness-high"></i></div>
                  <h4 class="title" style="font-weight: bold;"><b>Быстро впитывающие</b></h4>
                  <p class="description" style="font-size: large;">Впитывают жидкость в течение 40 секунд, оставляют
                    кожу
                    малыша сухой.</p>
                </div>
              </div>

            </div>

          </div>

        </div>

      </section><!-- End Featuress Section -->

      <!-- ======= Advanced Featuress Section ======= -->
      <section id="advanced-features">

        <div class="features-row section-bg" data-aos="fade-up">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <img class="advanced-feature-img-right wow fadeInRight" src="assets/img/advanced-feature-1.jpg" alt="">
                <div>
                  <h2>Мы доставляем ваше счастье до дома</h2>
                  <p style="font-size: large;">Мы не просто доставляем товар. Мы приносим вам моменты удовольствия,
                    освобождая вас от необходимости бегать между полками и торопиться в магазины. Наши курьеры – это не
                    просто лица в форме, это посланники вашего комфорта.</p>
                  <p style="font-size: large;">Подарите себе свободное время. Ведь с доставкой "до двери" ваш дом
                    становится центром вашего мира, а наши упаковки – воплощением ожидания и радости.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="features-row" data-aos="fade-up">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <img class="advanced-feature-img-left" src="assets/img/advanced-feature-2.jpg" alt="">
                <div>
                  <h2>Бонусы и акции</h2>
                  <i class="bi bi-calendar4-week"></i>
                  <p>Первый заказ – особенный шаг. Мы добавляем подарок к вашей покупке: на выбор – увлажнитель или
                    минипаки. Впереди – комфортное путешествие в мире наших бонусов.</p>
                  <i class="bi bi-bar-chart"></i>
                  <p>Собирайте личный набор сокровищ! Ваша каждая покупка – это не просто товар, это история о вашем
                    стиле
                    жизни. Добавьте подгузники – и получите бонус в виде позитивной энергии. Выберите прокладки – и к
                    ним
                    добавится вдохновение.</p>
                  <i class="bi bi-brightness-high"></i>
                  <p>Каждая деталь имеет значение, и в этом подарке мы вкладываем каплю нашей заботы и искренности.
                    Добро
                    пожаловать в мир бонусов, где каждый клиент – это герой, а каждая доставка – это новая страница в
                    истории вашего комфорта.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section><!-- End Advanced Featuress Section -->

      <!-- ======= Call To Action Section ======= -->
      <section id="call-to-action">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 text-center text-lg-start">
              <h3 class="cta-title">Позвоните и закажите или закажите по телеграм бот</h3>
            </div>
            <div class="col-lg-3 cta-btn-container text-center">
              <p><a class="cta-btn align-middle" href="tel:+998931899292" type="tel">Позвонить</a></p>
              <p> <a class="cta-btn align-middle" href="tg://user?username=dev_javlon">Телеграм бот</a></p>
            </div>
          </div>

        </div>
      </section><!-- End Call To Action Section -->

      <!-- ======= Team Section ======= -->
      <section class="my-5">
        <div class="container text-center">
          <div class="section-header mb-5">
            <h1 style="font-weight: bold; font-size: 40px;" class="section-title ">Наши товары
            </h1>
            <span class="section-divider"></span>

            <h3 class="section-title">Подгузники </h3>
          </div>
          <div class="col-12 m-auto">
            <div class="owl-carousel owl-theme">
              <div class="" v-for="cardData in Podguzniki" :key="cardData.id">

                <div class="card border-1 rounded-5 flex-fill align-self-stretch ">
                  <div class="card-body">
                    <img :src="cardData.img" class="card-img-top img-h text-center mx-auto" alt="M-diapers">
                    <h5 class="card-title fs-6 fs-md-5 fs-lg-4 fw-bold ">{{cardData.name}}</h5>
                    <p class="card-text fs-5 fw-bold">{{cardData.cost}}</p>
                    <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                      :data-bs-target="'#modal' + cardData.id">
                      buy
                    </button> -->
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="section-header mb-5 my-5">



            <h3 class="section-title">Минипаки </h3>
          </div>
          <div class="col-12 m-auto">
            <div class="owl-carousel owl-theme">
              <div class="gap-2" v-for="cardData in Minipaki" :key="cardData.id">

                <div class="card border-1 rounded-5 flex-fill align-self-stretch ">
                  <div class="card-body">
                    <img :src="cardData.img" class="card-img-top img-h text-center mx-auto" alt="M-diapers">
                    <h5 class="card-title fs-6 fs-md-5 fs-lg-4 fw-bold ">{{cardData.name}}</h5>
                    <p class="card-text fs-5 fw-bold">{{cardData.cost}}</p>
                    <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                      :data-bs-target="'#modal' + cardData.id">
                      buy
                    </button> -->
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="section-header mb-5 my-5">



            <h3 class="section-title">Трусики </h3>
          </div>
          <div class="col-12 m-auto">
            <div class="owl-carousel owl-theme">
              <div class="gap-2" v-for="cardData in Trusiki" :key="cardData.id">

                <div class="card border-1 rounded-5 flex-fill align-self-stretch ">
                  <div class="card-body">
                    <img :src="cardData.img" class="card-img-top img-h text-center mx-auto" alt="M-diapers">
                    <h5 class="card-title fs-6 fs-md-5 fs-lg-4 fw-bold ">{{cardData.name}}</h5>
                    <p class="card-text fs-5 fw-bold">{{cardData.cost}}</p>
                    <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                      :data-bs-target="'#modal' + cardData.id">
                      buy
                    </button> -->
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="section-header mb-5 my-5">



            <h3 class="section-title">Салфетки </h3>
          </div>
          <div class="col-12 m-auto">
            <div class="owl-carousel owl-theme">
              <div class="wrapper" v-for="cardData in Salfetki" :key="cardData.id">

                <div class="card border-1 rounded-5 flex-fill align-self-stretch ">
                  <div class="card-body">
                    <img :src="cardData.img" class="card-img-top img-h text-center mx-auto" alt="M-diapers">
                    <h5 class="card-title fs-6 fs-md-5 fs-lg-4 fw-bold ">{{cardData.name}}</h5>
                    <p class="card-text fs-5 fw-bold">{{cardData.cost}}</p>
                    <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                      :data-bs-target="'#modal' + cardData.id">
                      buy
                    </button> -->
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </section>

      <!-- End Team Section -->

      <!-- ======= Gallery Section ======= -->
      <section id="gallery">
        <div class="container-fluid" data-aos="fade-up">
          <div class="section-header">
            <h3 style="font-weight: bold;" class="section-title">Отзывы</h3>
            <span class="section-divider"></span>
            <p class="section-description">Наши отзывы – это не просто слова. Это искренние эмоции и подтверждение того,
              что мы делаем правильно.</p>
          </div>

          <div class="row g-0">

            <div class="col-lg-4 col-md-6">
              <div class="gallery-item">
                <a href="assets/img/gallery/gallery-1.jpg" data-gall="portfolioGallery" class="gallery-lightbox">
                  <img src="assets/img/gallery/gallery-1.jpg" alt="">
                </a>
              </div>
            </div>

            <div class="col-lg-4 col-md-6">
              <div class="gallery-item">
                <a href="assets/img/gallery/gallery-2.jpg" data-gall="portfolioGallery" class="gallery-lightbox">
                  <img src="assets/img/gallery/gallery-2.jpg" alt="">
                </a>
              </div>
            </div>

            <div class="col-lg-4 col-md-6">
              <div class="gallery-item">
                <a href="assets/img/gallery/gallery-3.jpg" data-gall="portfolioGallery" class="gallery-lightbox">
                  <img src="assets/img/gallery/gallery-3.jpg" alt="">
                </a>
              </div>
            </div>
          </div>

        </div>
      </section><!-- End Gallery Section -->

      <!-- ======= Contact Section ======= -->
      <section id="contact">
        <div class="container" data-aos="fade-up">
          <div class="row">

            <div class="col-lg-4 col-md-4">
              <div class="contact-about">
                <h3>Мама Знает</h3>
                <p style="font-size: large;">Заказывайте подгузники у нас онлайн, и забудьте о сложностях выбора.</p>
                <div class="social-links">
                  <a href="#" class="instagram"><i class="bi bi-telegram"></i></a>
                  <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-4">
              <div class="info">
                <div>
                  <i class="bi bi-phone"></i>
                  <p>+998 99 881 94 04</p>
                </div>
                <div>
                  <i class="bi bi-phone"></i>
                  <p>+998 93 189 92 92</p>
                </div>
              </div>
            </div>

            <div class="col-lg-5 col-md-8">
              <div class="form">
                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                  <div class="row">
                    <div class="form-group col-lg-6">
                      <input type="text" name="name" class="form-control" id="name" placeholder="Ваше имя"
                        data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                    </div>
                    <div class="form-group col-lg-6 mt-3 mt-lg-0">
                      <input type="tel" class="form-control" name="tel" id="tel" placeholder="Ваш номер"
                        data-rule="email" data-msg="Please enter a valid email">
                    </div>
                  </div>
                  <div class="form-group mt-3">
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Город"
                      data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject">
                  </div>
                  <div class="my-3">
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Your message has been sent. Thank you!</div>
                  </div>
                  <div class="text-center"><button type="submit" title="Send Message">Отправить</button></div>
                </form>
              </div>
            </div>

          </div>

        </div>
      </section><!-- End Contact Section -->

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 text-lg-start text-center">
            <div class="copyright">
              &copy; Разработано <strong>Care-Clinic</strong>.
            </div>
          </div>
          <div class="col-lg-6">
            <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
              <a href="#" class="scrollto">Домой</a>
            </nav>
          </div>
        </div>
      </div>
    </footer><!-- End  Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-chevron-up"></i></a>
  </div>
  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="script.js" defer></script>

  <script src="assets/js/main.js"></script>
  <!-- Swiper JS -->
  <script src="//cdn.jsdelivr.net/gh/freeps2/a7rarpress@main/swiper-bundle.min.js"></script>
  <!-- JavaScript -->
  <!--Uncomment this line-->
  <!-- adding jQuery CDN -->
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>

  <!-- adding bootstrap.bundle.min.js CDN -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

  <!-- adding owl.carousel.js CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"
    integrity="sha512-gY25nC63ddE0LcLPhxUJGFxa2GoIyA5FLym4UJqHDEMHjp8RET6Zn/SHo1sltt3WuVtqfyxECP38/daUc/WVEA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->


  <script>
    $(document).ready(function () {
      $(".owl-carousel").owlCarousel({
        loop: true,
        margin: 15,
        responsiveClass: true,
        autoplay: true,
        autoplayTimeout: 3000,
        nav: true,
        responsive: {
          0: {
            items: 1,
            nav: true
          },
          600: {
            items: 2,
            nav: false
          },
          1000: {
            items: 4,
            nav: true,
            loop: false
          }
        }
      });
    });
    const { createApp } = Vue

    createApp({

      data() {
        return {
          isOpenModal: false,
          Podguzniki: [
            {
              id: 1000,
              name: "Подгузники Размер NB - 1",
              // agar cardlarda detail kerak bolsa shu yerdan qo'shib ketilinadi
              detail: 'Подгузники, 68 шт/уп.',
              cost: "100$",
              img: './assets/img/Podguzniki/NB-diapers-2.png'
            },
            {
              id: 1001,
              name: "Подгузники Размер S - 2",
              cost: "130$",
              img: '/assets/img/Podguzniki/S-diapers-2.png'
            },
            {
              id: 1002,
              name: "Подгузники Размер M - 3",
              cost: "120$",
              img: '/assets/img/Podguzniki/M-diapers.png'
            },
            {
              id: 1003,
              name: "Подгузники Размер L - 4",
              cost: "120$",
              img: '/assets/img/Podguzniki/L-diapers-white.png'
            },
            {
              id: 1004,
              name: "Подгузники Размер XL - 5",
              cost: "120$",
              img: '/assets/img/Podguzniki/XL-diapers.png'
            },
            {
              id: 1005,
              name: "Подгузники Размер XXL - 6",
              cost: "120$",
              img: '/assets/img/Podguzniki/XXL-diapers (1).png'
            }
          ],
          Trusiki: [
            {
              id: 1006,
              name: "Трусики Размер M - 3",
              cost: "130$",
              img: '/assets/img/Trusiki/M-trousers.png'
            },
            {
              id: 1007,
              name: "Трусики Размер L - 4",
              cost: "120$",
              img: '/assets/img/Trusiki/L-trousers.png'
            },
            {
              id: 1008,
              name: "Трусики Размер XL - 5",
              cost: "120$",
              img: '/assets/img/Trusiki/XL-trousers.png'
            },
            {
              id: 1009,
              name: "Трусики Размер XXL - 6",
              cost: "120$",
              img: '/assets/img/Trusiki/XXL-trousers.png'
            },
          ],
          Salfetki: [
            {
              id: 1010,
              name: "Влажные салфетки Маленькие",
              cost: "130$",
              img: '/assets/img/Salfetki/80.png'
            },
            {
              id: 1011,
              name: "Влажные салфетки Большие",
              cost: "120$",
              img: '/assets/img/Salfetki/80.png'
            },
          ],
          Minipaki: [

            {
              id: 1012,
              name: "Минипаки Подгузники Размер NB - 1",
              cost: "130$",
              img: '/assets/img/Minipaki/NB-diaper-mini (1).png'
            },
            {
              id: 1013,
              name: "Минипаки Подгузники Размер S - 2",
              cost: "120$",
              img: '/assets/img/Minipaki/S-diaper-mini.png'
            },
            {
              id: 1014,
              name: "Минипаки Подгузники Размер M - 3",
              cost: "120$",
              img: '/assets/img/Minipaki/M-diaper-mini.png'
            },
            {
              id: 1015,
              name: "Минипаки Подгузники Размер L – 4",
              cost: "120$",
              img: '/assets/img/Minipaki/L-diaper-mini.png'
            },
            {
              id: 1016,
              name: "Минипаки Подгузники Размер XL - 5",
              cost: "120$",
              img: '/assets/img/Minipaki/XL-diaper-mini (1).png'
            },
            {
              id: 1017,
              name: "Минипаки Трусики Размер M - 3",
              cost: "120$",
              img: '/assets/img/Minipaki/M-trousers-mini.png'
            },
            {
              id: 1018,
              name: "Минипаки Трусики Размер L – 4",
              cost: "120$",
              img: '/assets/img/Minipaki/L-trousers-mini.png'
            },
            {
              id: 1019,
              name: "Минипаки Трусики Размер XL – 5",
              cost: "120$",
              img: '/assets/img/Minipaki/XL-trousers-mini (1).png'
            },
          ],
          Jenskoe: [
            {
              id: 1020,
              name: "Женское Дневная 245 мм",
              cost: "130$",
              img: '/assets/img/Podguzniki/M-diapers.png'
            },
            {
              id: 1021,
              name: "Женское Ночная 300 мм",
              cost: "120$",
              img: '/assets/img/Podguzniki/M-diapers.png'
            },
            {
              id: 1022,
              name: "Женское Ежедневка 160 мм",
              cost: "120$",
              img: '/assets/img/Podguzniki/M-diapers.png'
            },
          ],

          sendData: {
            phone: '',
            product_unique: '',
            product_count: '',
            location_name: ''
          }
        }
      },

      methods: {
        submitfunction(cardId) {
          console.log(cardId);
          this.sendData.product_unique = cardId;
          const formdata = this.sendData;
          fetch("http://178.218.207.110:1818/api/v1/order/add-by-site", {
            method: "POST",
            headers: {
              "Content-Type": "application/json", // Set the appropriate content type
              Token: "af8fd4c4-7959-44d8-8ee2-9ece792ce0bd",
            },
            body: JSON.stringify({ formdata }), // Convert the data to JSON
          })
            .then((response) => {
              if (response.ok) {
                // Handle a successful response from the server
                console.log("Message sent successfully!");
                // You can do further actions here, like displaying a success message
              } else {
                // Handle errors
                console.error("Error sending message:", response.statusText);
                // Display an error message to the user
              }
            })
            .catch((error) => {
              console.error("Network error:", error);
              // Handle network errors
            });
        }
      }
    }).mount('#app')
  </script>
</body>

</html>